.route-form {
    background-color: #87aedd;
    margin: 0;
    margin-bottom: 0px;
}
@media only screen and (max-width: 500px) {
   .route-form {
        padding-top: 30px;
        padding-bottom: 30px;
   }
}
/* .form-group {
    width: 95%;
    margin: auto;
} */
/* .hideMe {
    visibility: hidden;
}

.showMe {
    visibility: visible;
} */
.map-btn {
    color: #ffffff; 
    background-color: rgb(69, 87, 146); 
    border-color: #130269; 
    font-family: "Thonburi", "Calibri", sans-serif;
}

.inputBgOpaque:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px white inset;
    box-shadow: 0 0 0 100px white inset;
}